* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

@font-face {
  font-family: "sans";
  src: url(../css/font/DMSans-Regular.ttf);
}

.sans {
  font-family: "sans";
}

.middle {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.pr {
  position: absolute;
  width: 100%;
  height: 1920px;
  top: 0px;
  background: #0e1316;
}

.square-top {
  position: absolute;
  width: 87px;
  height: 96px;
  left: 0px;
  top: 0px;
  background: #f6df03;
}

.logo {
  position: absolute;
  width: 240px;
  height: 56.34px;
  left: 121px;
  top: 40px;
}

.navbar {
  position: absolute;
  list-style-type: none;
  display: flex;
  width: 57px;
  height: 23px;
  left: 925px;
  top: 40px;
}

.navbar li a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-right: 45px;
  white-space: nowrap;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

.navbar li a:hover {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #f6df03;
}

.logo-baner {
  position: absolute;
  width: 924.42px;
  height: 217px;
  left: calc(50% - 924.42px / 2 + 0.21px);
  top: calc(50% - 217px / 2 - 496px);
}

.slogan {
  position: absolute;
  width: 932px;
  height: 54px;
  left: 258px;
  top: 626px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #f6df03;
}

.croll {
  position: absolute;
  width: 314px;
  height: 24px;
  left: calc(50% - 314px / 2);
  top: 900px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  animation: jump 2s infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.slideshow-container {
  position: absolute;
  width: 100%;
  top: 960px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.active {
  display: block;
}

.technologies {
  background: url(../images/top-rec.png) no-repeat top left,
    url(../images/bot-rec.png) no-repeat bottom right, black;
  width: 100%;
}

.whatwedo {
  background: url(../images/top-rec.png) no-repeat top left,
    url(../images/bot-rec.png) no-repeat bottom right,
    url(../images/logo.png) no-repeat 96.7% 94%, black;
  width: 100%;
}

.container {
  width: 100%;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.yellow {
  background: #f6df03;
}

.cl-yellow {
  color: #f6df03;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333334%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-10 {
  width: 83.33%;
}

.col-12 {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.white {
  color: white;
}

.decor {
  background: url(../images/decor.png) no-repeat top left;
}

.fw700 {
  font-weight: 700px;
}

.fs32 {
  font-size: 32px;
}

.fs36 {
  font-size: 36px;
}

.fs48 {
  font-size: 48px;
}

.lh42 {
  line-height: 42px;
}

.lh62 {
  line-height: 62px;
}

.lh47 {
  line-height: 47px;
}

.mt30 {
  margin-top: 30px;
}

.mt55 {
  margin-top: 55px;
}

.mt100 {
  margin-top: 100px;
}

.mt5 {
  margin-top: 5px;
}

.ml20 {
  margin-left: 20px;
}

.mb100 {
  margin-bottom: 100px;
}

.b1 {
  text-shadow: 0 0 4px black;
}

.h200 {
  height: 200px;
}

.bold {
  font-weight: bold;
}

.space-around {
  justify-content: center;
}

.align-item {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.bg-black {
  background: black;
}

.border {
  border: 1.65035px solid #ffffff;
}

.w230 {
  width: 230px;
}

.h70 {
  height: 70px;
}

.trans {
  color: transparent;
}

.owl-nav {
  position: relative;
  left: 80%;
  width: 200px;
}

.technologies img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.technologies img {
  transition: 0.5s ease-in-out;
}

.technologies p:hover {
  color: #fff;
  animation: neon 1.5s infinite alternate;
  transition: 0.5s ease-in-out;
}

.technologies p {
  transition: 0.5s ease-in-out;
}

.technologies h1:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

.technologies h1 {
  transition: 0.5s ease-in-out;
}

@keyframes neon {
  0% {
    text-shadow: 0 0 5px #fff;
  }

  50% {
    text-shadow: 0 0 20px #ff00de, 0 0 50px #ff00de;
  }

  100% {
    text-shadow: 0 0 5px #fff;
  }
}

button:hover {
  background: #f6df03;
  color: black;
  transition: 0.5s ease-in-out;
}

button {
  transition: 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

.span-yellow {
  color: rgba(252, 252, 16, 0.862);
}

.home-contact-us {
  height: 960px;
  width: 100%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    background-image: url("../images/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  100% {
    background-image: url("../images/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.home-contact-content {
  padding: 20% 10%;
  display: flex;
  max-width: 500px;
  height: 400px;
  justify-content: center;
  flex-direction: column;
  color: aliceblue;
  font-size: 30px;
}

.button {
  display: inline-flex;
  height: 50px;
  margin-top: 50px;
}

.button a {
  padding: 0 10%;
  display: flex;
  width: 500px;
  height: 100%;
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 20px;
  margin: 0 10px;
}

.total-project {
  display: flex;
  width: 100%;
  background: black;
}

.total-project-content {
  width: 720px;
  height: 960px;
  animation: animater 5s ease-in-out infinite;
}
@keyframes animater {
  0% {
    background-image: url("../images/total-project-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  100% {
    background-image: url("../images/total-project-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.total-project-content-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 30px 30px;
}

.total-project-content-2 h1 {
  font-size: 40px;
  color: #f6df03;
}
.total-project-content-2 p {
  display: flex;

  color: aliceblue;
  font-size: 20px;
  margin-top: 50px;
}

.justify {
  text-align: justify;
}
