* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

@font-face {
  font-family: "sans";
  src: url(../css/font/DMSans-Regular.ttf);
}

.sans {
  font-family: "sans";
}

.middle {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.pr {
  position: absolute;
  width: 100%;
  height: 1920px;
  top: 0px;
  background: #0e1316;
}

.square-top {
  position: absolute;
  width: 87px;
  height: 96px;
  left: 0px;
  top: 0px;
  background: #f6df03;
}

.logo {
  position: absolute;
  width: 240px;
  height: 56.34px;
  left: 121px;
  top: 40px;
}

.navbar {
  position: absolute;
  list-style-type: none;
  display: flex;
  width: 57px;
  height: 23px;
  left: 925px;
  top: 40px;
}

.box-search {
  box-sizing: border-box;
  position: absolute;
  border: 1.52952px solid #ffffff;
  border-radius: 19.5779px;
}

.pr-product {
  width: 1920px;
  height: 970px;
  background: #171717;
}

.slideshow-container-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  position: absolute;
  width: 749.5px;
  height: 513px;
  left: 885px;
  top: 282px;
  background: #d9d9d9;
}

.slideshow-container-product img {
  height: 945px;
  width: 749.5px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.logo-f img {
  position: absolute;
  left: 80%;
  right: 3.82%;
  top: 89.69%;
  bottom: 4.58%;
}

.retangle {
  position: absolute;
  left: 80%;
  right: 0%;
  top: 95.94%;
  bottom: 0%;
  background: #f6df03;
}

.navbar li a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-right: 45px;
  white-space: nowrap;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

.navbar li a:hover {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #f6df03;
}

.logo-baner {
  position: absolute;
  width: 924.42px;
  height: 217px;
  left: calc(50% - 924.42px / 2 + 0.21px);
  top: calc(50% - 217px / 2 - 496px);
}

.slogan {
  position: absolute;
  width: 932px;
  height: 54px;
  top: 626px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #f6df03;
}

.croll {
  position: absolute;
  width: 314px;
  height: 24px;
  left: calc(50% - 314px / 2);
  top: 900px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  animation: jump 2s infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.slideshow-container {
  position: absolute;
  width: 100%;
  top: 960px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.active {
  display: block;
}

.technologies {
  background: url(../images/top-rec.png) no-repeat top left,
    url(../images/bot-rec.png) no-repeat bottom right, black;
  width: 100%;
}

.whatwedo {
  background: url(../images/top-rec.png) no-repeat top left,
    url(../images/bot-rec.png) no-repeat bottom right,
    url(../images/logo.png) no-repeat 96.7% 94%, black;
  width: 100%;
}

.aboutus {
  background: url(../images/top-rec.png) no-repeat top left,
    url(../images/bot-rec.png) no-repeat bottom right,
    url(../images/logo.png) no-repeat 96.7% 94%, black;
  width: 100%;
}

.advantage {
  background: url(../images/top-rec.png) no-repeat top left,
    url(../images/bot-rec.png) no-repeat bottom right,
    url(../images/logo.png) no-repeat 96.7% 94%, black;
  width: 100%;
}

.container {
  width: 100%;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.yellow {
  background: #f6df03;
}

.cl-yellow {
  color: #f6df03;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333334%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-10 {
  width: 83.33%;
}

.col-12 {
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.white {
  color: white;
}

.decor {
  background: url(../images/decor.png) no-repeat top left;
}

.fw700 {
  font-weight: 700px;
}

.fs32 {
  font-size: 32px;
}

.fs36 {
  font-size: 36px;
}

.fs48 {
  font-size: 48px;
}

.lh42 {
  line-height: 42px;
}

.lh62 {
  line-height: 62px;
}

.lh47 {
  line-height: 47px;
}

.mt30 {
  margin-top: 30px;
}

.mt55 {
  margin-top: 55px;
}

.mt100 {
  margin-top: 100px;
}

.mt5 {
  margin-top: 5px;
}

.ml20 {
  margin-left: 20px;
}

.mb100 {
  margin-bottom: 100px;
}

.b1 {
  text-shadow: 0 0 4px black;
}

.h200 {
  height: 200px;
}

.bold {
  font-weight: bold;
}

.space-around {
  justify-content: center;
}

.align-item {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.bg-black {
  background: black;
}

.border {
  border: 1.65035px solid #ffffff;
}

.w230 {
  width: 230px;
}

.h70 {
  height: 70px;
}

.trans {
  color: transparent;
}

.owl-nav {
  position: relative;
  left: 80%;
  width: 200px;
  margin-bottom: 100px;
}

.technologies img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.technologies img {
  transition: 0.5s ease-in-out;
}

.technologies p:hover {
  color: #fff;
  animation: neon 1.5s infinite alternate;
  transition: 0.5s ease-in-out;
}

.technologies p {
  transition: 0.5s ease-in-out;
}

.technologies h1:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

.technologies h1 {
  transition: 0.5s ease-in-out;
}

@keyframes neon {
  0% {
    text-shadow: 0 0 5px #fff;
  }

  50% {
    text-shadow: 0 0 20px #ff00de, 0 0 50px #ff00de;
  }

  100% {
    text-shadow: 0 0 5px #fff;
  }
}

button:hover {
  background: #f6df03;
  color: black;
  transition: 0.5s ease-in-out;
}

button {
  transition: 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

.span-yellow {
  color: rgba(252, 252, 16, 0.862);
}

.home-contact-us {
  height: 960px;
  width: 100%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    background-image: url("../images/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  100% {
    background-image: url("../images/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.home-contact-content {
  padding: 20% 10%;
  display: flex;
  max-width: 500px;
  height: 400px;
  justify-content: center;
  flex-direction: column;
  color: aliceblue;
  font-size: 30px;
}

.button {
  display: inline-flex;
  height: 50px;
  margin-top: 50px;
}

.button a {
  padding: 0 10%;
  display: flex;
  width: 500px;
  height: 100%;
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 20px;
  margin: 0 10px;
}

.total-project {
  display: flex;
  width: 100%;
  background: black;
}

.total-project-content {
  width: 720px;
  height: 960px;
  animation: animater 5s ease-in-out infinite;
}

@keyframes animater {
  0% {
    background-image: url("../images/total-project-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  100% {
    background-image: url("../images/total-project-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.total-project-content-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 30px 30px;
}

.total-project-content-2 h1 {
  font-size: 40px;
  color: #f6df03;
}

.total-project-content-2 p {
  display: flex;

  color: aliceblue;
  font-size: 20px;
  margin-top: 50px;
}

.justify {
  text-align: justify;
}

.aboutus .img {
  width: 130.91px;
  height: 130.91px;
}

.img2 {
  width: 555px;
  height: 440px;
}

.pl120 {
  padding-left: 120px;
}

.space-evenly {
  justify-content: space-evenly;
}

.fs10 {
  font-size: 10px;
}

.lh12 {
  line-height: 12px;
}

.text-middle {
  text-align: center;
}

.advantage .img1 {
  width: 399.63px;
  height: 245.17px;
}

.advantage .img2 {
  width: 296px;
  height: 269px;
}

.mb200 {
  margin-bottom: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #f6df03;
}

.overlay-container .overlay {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.overlay-container:hover .overlay {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.overlay-container {
  position: relative;
}

.text {
  color: black;
  font-family: "sans";
  font-size: 100px;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.2s ease-in-out;
}

.overlay-container:hover .text {
  display: none;
  transition: 2s;
}

/* .about-us {
  position: absolute;
  left: 0px;
  top: 1917px;
  width: 1440px;
  height: 960px;
  background-color: #171717;
}

.rectangle-45 {
  position: absolute;
  width: 87px;
  height: 183px;
  background: #f6df03;
}

.about-us > h1 {
  position: absolute;
  left: 106px;
  top: 136px;
  width: 210px;
  height: 62px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #f6df03;
}

.about-us > p {
  position: absolute;
  width: 435px;
  height: 73px;
  left: 106px;
  top: 301px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #ffffff;
}

.about-us > h2 {
  position: absolute;
  width: 360px;
  height: 62px;
  top: 353px;
  left: 864px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #f6df03;
}

.about-us > img {
  position: absolute;
  width: 555px;
  height: 440px;
  top: 419px;
  left: 106px;
}

.team-member-1 {
  position: absolute;
  width: 649.75px;
  height: 164.73px;
  top: 472px;
  left: 720px;
}

.member-1 {
  position: absolute;
  width: 130.91px;
  height: 164.73px;
}

.member-1 > img {
  position: absolute;
  width: 130.91px;
  height: 130.91px;
  border-radius: 67%;
}

.member-1 > h1 {
  position: absolute;
  width: 64px;
  height: 12px;
  top: 138.89px;
  left: 33.455px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.member-1 > p {
  position: absolute;
  width: 31px;
  height: 12px;
  top: 152.73px;
  left: 49.955px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.member-2 {
  position: absolute;
  width: 130.91px;
  height: 164.73px;
  left: 172.95px;
}

.member-2 > img {
  position: absolute;
  width: 130.91px;
  height: 130.91px;
  border-radius: 67%;
}

.member-2 > h1 {
  position: absolute;
  width: 91px;
  height: 12px;
  top: 138.89px;
  left: 19.955px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.member-2 > p {
  position: absolute;
  width: 38px;
  height: 12px;
  top: 152.73px;
  left: 46.455px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.member-3 {
  position: absolute;
  width: 130.91px;
  height: 164.73px;
  left: 345.9px;
}

.member-3 > img {
  position: absolute;
  width: 130.91px;
  height: 130.91px;
  border-radius: 67%;
}

.member-3 > h1 {
  position: absolute;
  width: 81px;
  height: 12px;
  top: 138.89px;
  left: 24.955px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9.57864px;
  line-height: 12px;
  color: #ffffff;
}

.member-3 > p {
  position: absolute;
  width: 38px;
  height: 12px;
  top: 152.73px;
  left: 46.455px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.member-4 {
  position: absolute;
  width: 130.91px;
  height: 164.73px;
  left: 518.75px;
}

.member-4 > img {
  position: absolute;
  width: 130.91px;
  height: 130.91px;
  border-radius: 67%;
}

.member-4 > h1 {
  position: absolute;
  width: 87px;
  height: 12px;
  left: 21.955px;
  top: 138.89px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.member-4 > p {
  position: absolute;
  width: 38px;
  height: 12px;
  top: 152.73px;
  left: 46.455px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.team-member-2 {
  position: absolute;
  width: 515.12px;
  height: 164.73px;
  top: 694px;
  left: 787px;
}

.member-5 {
  position: absolute;
  width: 130.91px;
  height: 164.73px;
}

.member-5 > img {
  position: absolute;
  width: 130.91px;
  height: 130.91px;
  border-radius: 67%;
}

.member-5 > h1 {
  position: absolute;
  width: 79px;
  height: 12px;
  left: 25.955px;
  top: 138.89px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.member-5 > p {
  position: absolute;
  width: 38px;
  height: 12px;
  top: 152.73px;
  left: 46.455px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.member-6 {
  position: absolute;
  width: 130.91px;
  height: 164.73px;
  left: 192.11px;
}

.member-6 > img {
  position: absolute;
  width: 130.91px;
  height: 130.91px;
  border-radius: 67%;
}

.member-6 > h1 {
  position: absolute;
  width: 90px;
  height: 12px;
  left: 20.455px;
  top: 138.89px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.member-6 > p {
  position: absolute;
  width: 38px;
  height: 12px;
  top: 152.73px;
  left: 46.455px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.member-7 {
  position: absolute;
  width: 130.91px;
  height: 164.73px;
  left: 384.22px;
}

.member-7 > img {
  position: absolute;
  width: 130.91px;
  height: 130.91px;
  border-radius: 67%;
}

.member-7 > h1 {
  position: absolute;
  width: 89px;
  height: 12px;
  left: 20.955px;
  top: 138.89px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.member-7 > p {
  position: absolute;
  width: 38px;
  height: 12px;
  top: 152.73px;
  left: 46.455px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 9.57864px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}

.rectangle-47 {
  position: absolute;
  width: 294px;
  height: 39px;
  background: #f6df03;
  top: 921px;
  left: 1146px;
}

.content {
  position: absolute;
  width: 1440px;
  height: 960px;
  left: 0px;
  top: 2874px;
  background: #171717;
}

.content > h1 {
  position: absolute;
  width: 323px;
  height: 60px;
  top: 148px;
  left: 559px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #f6df03;
}

.mission {
  display: inline-block;
  position: absolute;
  top: 223px;
  left: 87px;
}

.mission > img {
  position: absolute;
  width: 401px;
  height: 244.01px;
}

.mission > p {
  padding: 98.82px 136.87px 101.18px 136.13px;
  background-color: #f6df03;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34.7559px;
  line-height: 45px;
  color: #171717;
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.mission > p:hover {
  display: none;
  opacity: 0.7;
}

.vision {
  display: inline-block;
  position: absolute;
  top: 224px;
  left: 525px;
}

.vision > img {
  position: absolute;
  width: 394.9px;
  height: 245.16px;
}

.vision > p:hover {
  display: none;
}

.vision > p {
  padding: 99px 145.82px 101.17px 145.81px;
  background-color: #f6df03;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34.7559px;
  line-height: 45px;
  color: #171717;
  position: absolute;
}

.target {
  display: inline-block;
  position: absolute;
  top: 223px;
  left: 961px;
}

.target > img {
  position: absolute;
  width: 397.51px;
  height: 244.21px;
}

.target > p:hover {
  display: none;
}

.target > p {
  padding: 99px 153.35px 100.22px 139px;
  background-color: #f6df03;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34.7559px;
  line-height: 45px;
  color: #171717;
  position: absolute;
}

.content > h2 {
  position: absolute;
  width: 323px;
  height: 60px;
  left: 562px;
  top: 526px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #f6df03;
}

.strength {
  display: inline-block;
  position: absolute;
  top: 604px;
  left: 87px;
}

.strength > img {
  position: absolute;
  width: 295.52px;
  height: 269px;
}

.strength > p:hover {
  display: none;
}

.strength > p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #171717;
  padding: 111px 72px 111px 72px;
  background-color: #f6df03;
  position: absolute;
}

.weakness {
  display: inline-block;
  position: absolute;
  top: 604px;
  left: 413px;
}

.weakness > img {
  position: absolute;
  width: 295.43px;
  height: 269px;
}

.weakness > p:hover {
  display: none;
}

.weakness > p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #171717;
  padding: 111px 58px 111px 59px;
  background-color: #f6df03;
  position: absolute;
}

.opportunity {
  display: inline-block;
  position: absolute;
  top: 604px;
  left: 739px;
}

.opportunity > img {
  position: absolute;
  height: 269px;
  width: 295.69px;
}

.opportunity > p:hover {
  display: none;
}

.opportunity > p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #171717;
  padding: 111px 39px 111px 40px;
  background-color: #f6df03;
  position: absolute;
}

.threat {
  display: inline-block;
  position: absolute;
  top: 604px;
  left: 1065px;
}

.threat > img {
  position: absolute;
  height: 269px;
  width: 295.3px;
}

.threat > p:hover {
  display: none;
}

.threat > p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #171717;
  padding: 111px 90px 111px 91px;
  background-color: #f6df03;
  position: absolute;
} */
